<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign Builder</title>
    <% const baseUrlValue = typeof baseUrl !== 'undefined' ? baseUrl : (typeof locals !== 'undefined' && locals.baseUrl ? locals.baseUrl : 'http://localhost:3081'); %>
    <base href="<%= baseUrlValue %>">
    <link rel="stylesheet" href="/css/tailwind.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <%- typeof(style) != 'undefined' ? style : '' %>
</head>
<body class="bg-gray-100">
    <%- body %>
    <%- typeof(script) != 'undefined' ? script : '' %>
</body>
</html> 